In [1]:
import rds_config
from sqlalchemy import create_engine

#rds settings
db_host  = rds_config.db_host
db_username = rds_config.db_username
db_password = rds_config.db_password
db_name = rds_config.db_name

#한글 깨짐 현상 해결
#http://yongho1037.tistory.com/570
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://' + db_username + ':' + db_password + '@' + db_host + '/' + db_name + '?charset=utf8'

engine = create_engine(SQLALCHEMY_DATABASE_URI)
connection = engine.connect()

In [2]:
import pandas as pd
sql = "SELECT date, substring(date, 6,2) as month, media, title, org_count, naver_count, org_count+naver_count as total_count, section FROM newscrawl WHERE org_count>0 or naver_count>0 "
df = pd.read_sql(sql, connection)
#pd.read_csv("dcdata10.csv")

In [3]:
len(df)

450032

In [4]:
df.tail(10)

,date,month,media,title,org_count,naver_count,total_count,section
450022,2016-12-14,12,jtbc,"박 대통령 '공짜 진료' 논란…특검, 뇌물죄 적용 고심",2,12,14,사회
450023,2016-12-14,12,jtbc,"[오늘] 12월 14일…'최순실 육성' 공개, 분명한 메시지",4,34,38,정치
450024,2016-12-14,12,jtbc,[앵커브리핑] 눈먼 자들의 국가…감출 수 없는 진실들,6902,53,6955,정치
450025,2016-12-14,12,jtbc,다시 한 번 또 봐도…'무능했던' 청와대의 7시간 대응,68,23,91,정치
450026,2016-12-14,12,jtbc,"최순실 ""조작으로 몰아라""…태블릿PC 소유 자백한 셈",166,30,196,사회
450027,2016-12-14,12,jtbc,[밀착카메라] 청문회 준비 어떻게…국조 위원들 24시,14,37,51,정치
450028,2016-12-14,12,jtbc,다급했던 최순실 통화…JTBC 보도 사흘 뒤 '은폐 지시',9175,50,9225,사회
450029,2016-12-14,12,jtbc,"[비하인드 뉴스] 대통령 미용사, 버킹엄궁도 따라갔다",4,0,4,정치
450030,2016-12-14,12,jtbc,"[팩트체크] 개헌, 정말로 '두 달 반' 안에 가능할까?",1119,30,1149,정치
450031,2016-12-14,12,jtbc,"[Talk쏘는 정치] ""걸핏하면 시위해"" 촛불 폄하한 교수",6,15,21,정치

In [5]:
%%time
from konlpy.tag import Mecab
mecab = Mecab()

def mecab_words(sentence):
    word_list = mecab.nouns(sentence)
    #return " ".join(word_list)
    return " ".join(filter(lambda x: len(x)>1, word_list))
    #return filter(lambda x: len(x)>1, " ".join(word_list))

df['title_me_noun'] = df['title'].apply(mecab_words)

CPU times: user 32.5 s, sys: 128 ms, total: 32.6 s
Wall time: 33.7 s

In [7]:
df_by_month = df.groupby(['month'])
df_by_media_month = df.groupby(['month', 'media'])

In [9]:
from collections import Counter

by_me_month = df_by_month['title_me_noun'].apply(list)
result_by_me_month = pd.Series()

for month, words in by_me_month.iteritems():
    result_by_me_month.set_value(month, Counter(" ".join(words).split(" ")))

In [10]:
for month, words in result_by_me_month.iteritems():
    print(month, words.most_common(30))

01 [('종합', 1493), ('한국', 1147), ('대통령', 913), ('중국', 845), ('민주', 804), ('경제', 786), ('뉴스', 761), ('서울', 692), ('위안부', 681), ('정부', 660), ('세계', 616), ('북한', 610), ('시장', 602), ('국민', 578), ('논란', 570), ('한파', 549), ('누리', 529), ('안철수', 521), ('미국', 511), ('영상', 497), ('카드', 494), ('정치', 468), ('의원', 452), ('일본', 448), ('청년', 444), ('가능', 439), ('기업', 421), ('핵실험', 408), ('공항', 405), ('단독', 397)]
02 [('종합', 1252), ('한국', 916), ('개성', 882), ('공단', 879), ('대통령', 737), ('뉴스', 689), ('중국', 688), ('정부', 670), ('사드', 666), ('북한', 662), ('국민', 659), ('민주', 650), ('미사일', 649), ('테러', 583), ('서울', 560), ('기업', 552), ('경제', 551), ('세계', 541), ('시장', 533), ('영상', 494), ('제재', 492), ('가능', 489), ('버스터', 478), ('필리', 478), ('논란', 456), ('카드', 452), ('발사', 448), ('의원', 448), ('총선', 425), ('대북', 422)]
03 [('공천', 1341), ('종합', 1151), ('민주', 1070), ('한국', 994), ('총선', 881), ('국민', 874), ('김종인', 820), ('뉴스', 819), ('후보', 766), ('대통령', 756), ('대표', 686), ('서울', 685), ('이세돌', 606), ('테러', 598), ('유승민', 589), ('속보', 572), ('알파', 559), ('김무성', 552), ('기업', 542), ('여성', 535), ('누리', 531), ('중국', 525), ('경제', 519), ('논란', 508), ('영상', 501), ('세계', 492), ('단독', 457), ('정부', 455), ('비례', 454), ('야권', 445)]
04 [('총선', 1180), ('종합', 1011), ('대통령', 1011), ('한국', 955), ('국민', 823), ('민주', 762), ('투표', 734), ('뉴스', 704), ('정부', 661), ('후보', 658), ('서울', 615), ('경제', 607), ('기업', 601), ('누리', 539), ('선거', 537), ('세월', 526), ('논란', 525), ('대표', 488), ('세계', 479), ('영상', 478), ('중국', 448), ('단독', 437), ('지진', 437), ('구조', 432), ('카드', 422), ('조선', 418), ('일본', 415), ('지원', 415), ('시장', 409), ('조사', 407)]
05 [('종합', 1142), ('한국', 1090), ('대통령', 999), ('뉴스', 804), ('여성', 706), ('트럼프', 700), ('서울', 640), ('정부', 632), ('기업', 578), ('국회', 571), ('옥시', 566), ('단독', 551), ('논란', 534), ('세계', 530), ('중국', 512), ('경제', 495), ('조선', 490), ('영상', 470), ('시장', 455), ('카드', 450), ('구조', 423), ('반기문', 421), ('사설', 420), ('살인', 415), ('가능', 399), ('북한', 397), ('대회', 396), ('살균제', 383), ('국민', 378), ('조사', 378)]
06 [('종합', 1384), ('한국', 1110), ('시트', 1004), ('브렉', 985), ('국민', 805), ('뉴스', 795), ('공항', 771), ('시장', 752), ('정부', 717), ('중국', 675), ('조선', 666), ('서울', 658), ('세계', 650), ('검찰', 637), ('논란', 599), ('기업', 590), ('수사', 570), ('경찰', 570), ('경제', 568), ('대통령', 567), ('여성', 557), ('국회', 546), ('영상', 531), ('의원', 528), ('사망', 494), ('단독', 493), ('의혹', 487), ('조사', 481), ('사고', 477), ('롯데', 443)]
07 [('사드', 2031), ('종합', 1566), ('한국', 1058), ('대통령', 957), ('배치', 944), ('경찰', 853), ('뉴스', 815), ('정부', 747), ('논란', 686), ('서울', 682), ('중국', 639), ('사망', 627), ('국민', 620), ('성주', 616), ('테러', 611), ('세계', 564), ('영상', 546), ('검찰', 538), ('의혹', 537), ('경제', 530), ('조사', 527), ('의원', 526), ('기업', 516), ('여성', 516), ('단독', 512), ('결정', 509), ('우병우', 508), ('시장', 501), ('시간', 472), ('수사', 463)]
08 [('종합', 1350), ('사드', 1263), ('대통령', 1068), ('폭염', 1055), ('한국', 1046), ('서울', 746), ('중국', 744), ('정부', 743), ('뉴스', 726), ('민주', 668), ('논란', 620), ('수사', 579), ('영상', 575), ('대표', 570), ('우병우', 563), ('경찰', 546), ('올림픽', 522), ('기업', 516), ('단독', 513), ('세계', 507), ('검찰', 501), ('의원', 493), ('여성', 484), ('가능', 474), ('사망', 473), ('조선', 466), ('최고', 464), ('일본', 437), ('청년', 433), ('국민', 423)]
09 [('지진', 1330), ('종합', 1175), ('대통령', 841), ('한국', 766), ('뉴스', 677), ('정부', 574), ('규모', 570), ('추석', 540), ('단독', 522), ('영상', 510), ('서울', 507), ('경주', 475), ('노트', 475), ('세계', 471), ('중국', 468), ('사망', 438), ('사드', 438), ('북한', 430), ('가능', 420), ('기업', 420), ('경찰', 393), ('지원', 390), ('여성', 387), ('한진', 382), ('국민', 381), ('김영란', 373), ('핵실험', 370), ('논란', 368), ('안전', 368), ('카드', 367)]
10 [('최순실', 2564), ('대통령', 1839), ('종합', 1176), ('한국', 849), ('의혹', 812), ('뉴스', 746), ('논란', 671), ('단독', 657), ('검찰', 627), ('영상', 595), ('경찰', 585), ('중국', 549), ('정부', 539), ('서울', 526), ('수사', 513), ('노트', 504), ('박근혜', 502), ('사망', 477), ('태풍', 477), ('남기', 468), ('국민', 461), ('세계', 449), ('경제', 447), ('국감', 447), ('트럼프', 446), ('기업', 444), ('시장', 403), ('조사', 382), ('여성', 381), ('청와대', 380)]
11 [('대통령', 5574), ('최순실', 2928), ('트럼프', 2035), ('박근혜', 1882), ('뉴스', 1749), ('탄핵', 1356), ('종합', 1276), ('검찰', 1263), ('퇴진', 1185), ('촛불', 1073), ('청와대', 999), ('국정', 974), ('수사', 953), ('조사', 925), ('오마이', 917), ('의혹', 854), ('한국', 853), ('노컷뉴스', 772), ('단독', 757), ('국민', 750), ('촛불집회', 714), ('속보', 696), ('총리', 683), ('영상', 665), ('대선', 653), ('집회', 650), ('시민', 582), ('시간', 567), ('논란', 556), ('정보', 541)]
12 [('탄핵', 2380), ('대통령', 1822), ('최순실', 897), ('박근혜', 650), ('종합', 646), ('촛불', 570), ('청문회', 508), ('퇴진', 491), ('국회', 453), ('가결', 449), ('국민', 439), ('세월', 408), ('청와대', 406), ('한국', 385), ('영상', 377), ('의원', 372), ('특검', 367), ('트럼프', 355), ('수사', 344), ('국정', 343), ('표결', 339), ('속보', 333), ('뉴스', 318), ('시간', 317), ('누리', 282), ('내년', 272), ('시민', 263), ('단독', 263), ('촛불집회', 260), ('경제', 258)]

In [11]:
df_by_month.agg(['mean', 'count'])

        org_count        naver_count        total_count
             mean  count        mean  count        mean  count
month
01     165.487125  40466   23.049745  40466  188.536870  40466
02     168.984964  37111   25.549163  37111  194.534127  37111
03     126.101200  40761   22.099114  40761  148.200314  40761
04     151.722805  37378   25.495265  37378  177.218069  37378
05     133.163774  39695   24.974405  39695  158.138179  39695
06     121.357529  41303   22.615137  41303  143.972665  41303
07     143.167743  43680   25.951809  43680  169.119551  43680
08     177.883799  41213   29.496809  41213  207.380608  41213
09     205.389246  33326   31.558393  33326  236.947638  33326
10     279.059524  36439   35.309449  36439  314.368973  36439
11     356.246586  40574   44.942648  40574  401.189234  40574
12     328.621973  18086   36.790335  18086  365.412308  18086

In [12]:
df.reset_index().to_json('data/mecab.json',orient='records')

In [13]:
%%time
from collections import Counter

## df 방식과 counter 방식의 현저한 속도차
#result = df['title_noun'].head(20000).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)
#result.sort_values(axis=0, ascending=False)
r1 = df['title_me_noun'].tolist()
result = Counter(" ".join(r1).split(" "))

CPU times: user 856 ms, sys: 48 ms, total: 904 ms
Wall time: 904 ms

In [14]:
result.most_common(30)

[('대통령', 17084),
 ('종합', 14622),
 ('한국', 11169),
 ('뉴스', 9603),
 ('국민', 7191),
 ('정부', 7084),
 ('서울', 7016),
 ('중국', 6703),
 ('최순실', 6511),
 ('논란', 6330),
 ('영상', 6239),
 ('경제', 5965),
 ('단독', 5901),
 ('세계', 5865),
 ('기업', 5811),
 ('민주', 5769),
 ('트럼프', 5689),
 ('시장', 5414),
 ('경찰', 5295),
 ('검찰', 5151),
 ('사드', 5128),
 ('여성', 5085),
 ('수사', 4754),
 ('가능', 4752),
 ('조사', 4716),
 ('카드', 4709),
 ('의혹', 4682),
 ('의원', 4578),
 ('사망', 4527),
 ('대표', 4525)]

In [15]:
%%time
from konlpy.tag import Twitter
twitter = Twitter()
def words(sentence):
    word_list = twitter.nouns(sentence)
    return " ".join(word_list)

df['title_noun'] = df['title'].apply(words)
#df.reset_index().to_json('data/twitter.json',orient='records')

CPU times: user 3min 58s, sys: 592 ms, total: 3min 59s
Wall time: 3min 54s