In [1]:
import rds_config
from sqlalchemy import create_engine

#rds settings
db_host  = rds_config.db_host
db_username = rds_config.db_username
db_password = rds_config.db_password
db_name = rds_config.db_name

#한글 깨짐 현상 해결
#http://yongho1037.tistory.com/570
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://' + db_username + ':' + db_password + '@' + db_host + '/' + db_name + '?charset=utf8'

engine = create_engine(SQLALCHEMY_DATABASE_URI)
connection = engine.connect()

In [2]:
import pandas as pd
sql = "SELECT date, substring(date, 6,2) as month, media, title, org_count, naver_count, org_count+naver_count as total_count, section FROM newscrawl WHERE org_count>0 or naver_count>0 "
df = pd.read_sql(sql, connection)
#pd.read_csv("dcdata10.csv")

In [3]:
len(df)

449603

In [4]:
df.tail(10)

,date,month,media,title,org_count,naver_count,total_count,section
449593,2016-12-14,12,jtbc,"박 대통령 '공짜 진료' 논란…특검, 뇌물죄 적용 고심",2,12,14,사회
449594,2016-12-14,12,jtbc,"[오늘] 12월 14일…'최순실 육성' 공개, 분명한 메시지",4,34,38,정치
449595,2016-12-14,12,jtbc,[앵커브리핑] 눈먼 자들의 국가…감출 수 없는 진실들,6902,53,6955,정치
449596,2016-12-14,12,jtbc,다시 한 번 또 봐도…'무능했던' 청와대의 7시간 대응,68,23,91,정치
449597,2016-12-14,12,jtbc,"최순실 ""조작으로 몰아라""…태블릿PC 소유 자백한 셈",166,30,196,사회
449598,2016-12-14,12,jtbc,[밀착카메라] 청문회 준비 어떻게…국조 위원들 24시,14,37,51,정치
449599,2016-12-14,12,jtbc,다급했던 최순실 통화…JTBC 보도 사흘 뒤 '은폐 지시',9175,50,9225,사회
449600,2016-12-14,12,jtbc,"[비하인드 뉴스] 대통령 미용사, 버킹엄궁도 따라갔다",4,0,4,정치
449601,2016-12-14,12,jtbc,"[팩트체크] 개헌, 정말로 '두 달 반' 안에 가능할까?",1119,30,1149,정치
449602,2016-12-14,12,jtbc,"[Talk쏘는 정치] ""걸핏하면 시위해"" 촛불 폄하한 교수",6,15,21,정치

In [125]:
%%time
from konlpy.tag import Twitter
twitter = Twitter()
def words(sentence):
    word_list = twitter.nouns(sentence)
    return " ".join(word_list)

df['title_noun'] = df['title'].apply(words)
#df.reset_index().to_json('data/twitter.json',orient='records')

CPU times: user 4min 28s, sys: 460 ms, total: 4min 28s
Wall time: 4min 26s

In [64]:
df_by_month = df.groupby(['month'])
df_by_media_month = df.groupby(['month', 'media'])

In [65]:
df_by_month.agg(['mean', 'count'])

        org_count        naver_count        total_count
             mean  count        mean  count        mean  count
month
01     165.487125  40466   23.049745  40466  188.536870  40466
02     168.984964  37111   25.549163  37111  194.534127  37111
03     126.101200  40761   22.099114  40761  148.200314  40761
04     151.722805  37378   25.495265  37378  177.218069  37378
05     133.163774  39695   24.974405  39695  158.138179  39695
06     121.357529  41303   22.615137  41303  143.972665  41303
07     143.167743  43680   25.951809  43680  169.119551  43680
08     178.262277  41094   29.442595  41094  207.704872  41094
09     202.969311  33171   31.705858  33171  234.675168  33171
10     278.142503  36315   35.430015  36315  313.572518  36315
11     356.033372  40543   44.977012  40543  401.010384  40543
12     328.621973  18086   36.790335  18086  365.412308  18086

In [66]:
df_01 = df[df['month']=='01']
len(df_01)

40466

In [127]:
%%time
from collections import Counter

## df 방식과 counter 방식의 현저한 속도차
#result = df['title_noun'].head(20000).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0)
#result.sort_values(axis=0, ascending=False)
r1 = df['title_noun'].tolist()
result = Counter(" ".join(r1).split(" "))

CPU times: user 1.12 s, sys: 12 ms, total: 1.14 s
Wall time: 1.13 s

In [105]:
result.most_common(30)

[('년', 18928),
 ('대통령', 16965),
 ('명', 15821),
 ('종합', 14621),
 ('일', 14241),
 ('한국', 11139),
 ('더', 9769),
 ('뉴스', 9642),
 ('월', 8721),
 ('것', 8436),
 ('만', 7751),
 ('전', 7531),
 ('안', 7231),
 ('등', 6892),
 ('정부', 6867),
 ('서울', 6822),
 ('첫', 6801),
 ('억', 6774),
 ('중국', 6424),
 ('논란', 6311),
 ('중', 6294),
 ('최순실', 6267),
 ('영상', 6213),
 ('위', 5846),
 ('단독', 5832),
 ('제', 5819),
 ('트럼프', 5683),
 ('세계', 5587),
 ('박', 5551),
 ('차', 5529)]

In [107]:
by_month = df_by_month['title_noun'].apply(list)

In [115]:
result_by_month = pd.Series()

for month, words in by_month.iteritems():
    result_by_month.set_value(month, Counter(" ".join(words).split(" ")))

In [116]:
for month, words in result_by_month.iteritems():
    print(month, words.most_common(30))

01 [('년', 1940), ('종합', 1487), ('명', 1389), ('더', 1232), ('일', 1212), ('한국', 1174), ('대통령', 909), ('첫', 832), ('중국', 816), ('뉴스', 773), ('것', 752), ('민주', 749), ('월', 689), ('위안부', 687), ('만', 674), ('경제', 662), ('전', 659), ('서울', 651), ('정부', 639), ('북한', 611), ('등', 607), ('억', 579), ('세계', 577), ('중', 573), ('논란', 567), ('한파', 549), ('미국', 532), ('안', 524), ('안철수', 523), ('위', 501)]
02 [('년', 1596), ('종합', 1255), ('명', 1191), ('일', 1084), ('더', 1038), ('한국', 907), ('개성', 882), ('공단', 882), ('대통령', 737), ('뉴스', 686), ('중국', 672), ('사드', 668), ('북한', 666), ('월', 664), ('것', 659), ('정부', 643), ('만', 628), ('안', 626), ('미사일', 618), ('민주', 617), ('첫', 574), ('등', 535), ('중', 534), ('전', 533), ('서울', 531), ('테러', 514), ('세계', 511), ('억', 508), ('제재', 497), ('위', 494)]
03 [('년', 1610), ('더', 1490), ('명', 1391), ('공천', 1338), ('일', 1160), ('종합', 1151), ('민주', 1049), ('한국', 971), ('총선', 885), ('뉴스', 827), ('김종인', 822), ('알파', 807), ('것', 800), ('대통령', 754), ('월', 719), ('후보', 690), ('위', 685), ('첫', 653), ('서울', 653), ('만', 630), ('등', 624), ('안', 607), ('이세돌', 606), ('유승민', 589), ('전', 576), ('속보', 572), ('억', 565), ('국민의당', 562), ('김무성', 552), ('중', 552)]
04 [('년', 1595), ('명', 1378), ('총선', 1185), ('더', 1157), ('일', 1090), ('종합', 1012), ('대통령', 1010), ('한국', 932), ('월', 821), ('것', 755), ('민주', 738), ('뉴스', 711), ('투표', 648), ('후보', 636), ('정부', 633), ('서울', 611), ('만', 606), ('첫', 572), ('억', 562), ('전', 550), ('국민의당', 535), ('등', 534), ('논란', 525), ('세월호', 517), ('새누리', 508), ('중', 498), ('경제', 490), ('위', 490), ('영상', 477), ('안', 476)]
05 [('년', 1717), ('종합', 1142), ('일', 1118), ('명', 1079), ('한국', 1064), ('대통령', 986), ('월', 889), ('뉴스', 811), ('트럼프', 700), ('더', 691), ('것', 687), ('전', 674), ('억', 665), ('첫', 651), ('여성', 646), ('서울', 635), ('등', 634), ('정부', 621), ('제', 603), ('만', 598), ('법', 586), ('옥시', 548), ('단독', 542), ('논란', 531), ('위', 527), ('중', 512), ('안', 510), ('세계', 503), ('비', 489), ('국회', 487)]
06 [('년', 1805), ('명', 1420), ('종합', 1393), ('일', 1200), ('한국', 1115), ('시트', 1007), ('브렉', 986), ('월', 860), ('뉴스', 805), ('더', 757), ('것', 715), ('공항', 712), ('정부', 712), ('전', 710), ('만', 677), ('억', 659), ('서울', 652), ('첫', 647), ('중국', 646), ('등', 643), ('검찰', 628), ('세계', 623), ('논란', 599), ('수사', 597), ('위', 590), ('원', 588), ('안', 578), ('대통령', 564), ('중', 562), ('여성', 531)]
07 [('사드', 2048), ('명', 1906), ('년', 1804), ('종합', 1566), ('일', 1260), ('한국', 1057), ('대통령', 951), ('배치', 951), ('월', 814), ('뉴스', 813), ('경찰', 792), ('중', 763), ('더', 742), ('전', 740), ('정부', 697), ('만', 695), ('논란', 684), ('억', 671), ('등', 670), ('것', 666), ('개', 664), ('서울', 655), ('첫', 654), ('법', 632), ('성주', 623), ('안', 619), ('사망', 610), ('중국', 609), ('병', 586), ('테러', 560)]
08 [('년', 1750), ('명', 1637), ('종합', 1351), ('일', 1328), ('사드', 1274), ('대통령', 1060), ('폭염', 1055), ('한국', 1054), ('더', 1038), ('월', 853), ('제', 850), ('억', 803), ('뉴스', 739), ('서울', 734), ('정부', 731), ('만', 725), ('중국', 716), ('전', 659), ('민주', 635), ('것', 632), ('논란', 619), ('등', 615), ('중', 610), ('병', 607), ('첫', 588), ('영상', 572), ('속', 567), ('수사', 554), ('안', 543), ('위', 536)]
09 [('년', 1358), ('지진', 1314), ('명', 1200), ('종합', 1172), ('일', 1138), ('대통령', 838), ('한국', 751), ('뉴스', 675), ('안', 650), ('만', 608), ('것', 597), ('월', 574), ('추석', 550), ('정부', 547), ('법', 535), ('전', 529), ('규모', 528), ('억', 524), ('단독', 513), ('영상', 503), ('중', 499), ('등', 497), ('서울', 496), ('더', 491), ('노트', 474), ('경주', 474), ('세계', 454), ('중국', 447), ('제', 440), ('사드', 437)]
10 [('최순실', 2466), ('대통령', 1808), ('년', 1645), ('명', 1326), ('일', 1213), ('종합', 1173), ('한국', 843), ('의혹', 807), ('뉴스', 740), ('것', 698), ('논란', 670), ('단독', 657), ('안', 636), ('박', 632), ('전', 615), ('검찰', 595), ('영상', 592), ('만', 573), ('월', 571), ('경찰', 557), ('수사', 552), ('차', 550), ('삼성', 546), ('정부', 529), ('등', 527), ('중국', 517), ('서울', 502), ('중', 501), ('노트', 500), ('박근혜', 495)]
11 [('대통령', 5544), ('최순실', 2844), ('트럼프', 2034), ('박근혜', 1876), ('뉴스', 1743), ('일', 1644), ('박', 1595), ('탄핵', 1362), ('년', 1355), ('명', 1291), ('종합', 1277), ('검찰', 1205), ('퇴진', 1184), ('촛불', 1024), ('것', 1014), ('만', 982), ('청와대', 979), ('수사', 970), ('차', 957), ('오마이', 917), ('전', 898), ('한국', 881), ('의혹', 852), ('월', 793), ('조사', 774), ('노컷뉴스', 772), ('안', 764), ('단독', 756), ('촛불집회', 736), ('하야', 727)]
12 [('탄핵', 2383), ('대통령', 1804), ('최순실', 838), ('일', 794), ('년', 753), ('안', 698), ('박근혜', 648), ('종합', 642), ('명', 613), ('촛불', 559), ('박', 517), ('청문회', 517), ('퇴진', 491), ('월', 474), ('것', 461), ('가결', 451), ('국회', 432), ('차', 425), ('세월호', 404), ('청와대', 393), ('한국', 390), ('전', 388), ('영상', 377), ('특검', 366), ('만', 355), ('트럼프', 355), ('수사', 341), ('등', 338), ('표결', 337), ('속보', 334)]

In [137]:
%%time
from konlpy.tag import Mecab
mecab = Mecab()

def mecab_words(sentence):
    word_list = mecab.nouns(sentence)
    #return " ".join(word_list)
    return " ".join(filter(lambda x: len(x)>1, word_list))
    #return filter(lambda x: len(x)>1, " ".join(word_list))

df['title_me_noun'] = df['title'].apply(mecab_words)

CPU times: user 33.5 s, sys: 24 ms, total: 33.5 s
Wall time: 33.5 s

In [140]:
by_me_month = df_by_month['title_me_noun'].apply(list)
result_by_me_month = pd.Series()

for month, words in by_me_month.iteritems():
    result_by_me_month.set_value(month, Counter(" ".join(words).split(" ")))

In [141]:
for month, words in result_by_me_month.iteritems():
    print(month, words.most_common(30))

01 [('종합', 1493), ('한국', 1147), ('대통령', 913), ('중국', 845), ('민주', 804), ('경제', 786), ('뉴스', 761), ('서울', 692), ('위안부', 681), ('정부', 660), ('세계', 616), ('북한', 610), ('시장', 602), ('국민', 578), ('논란', 570), ('한파', 549), ('누리', 529), ('안철수', 521), ('미국', 511), ('영상', 497), ('카드', 494), ('정치', 468), ('의원', 452), ('일본', 448), ('청년', 444), ('가능', 439), ('기업', 421), ('핵실험', 408), ('공항', 405), ('단독', 397)]
02 [('종합', 1252), ('한국', 916), ('개성', 882), ('공단', 879), ('대통령', 737), ('뉴스', 689), ('중국', 688), ('정부', 670), ('사드', 666), ('북한', 662), ('국민', 659), ('민주', 650), ('미사일', 649), ('테러', 583), ('서울', 560), ('기업', 552), ('경제', 551), ('세계', 541), ('시장', 533), ('영상', 494), ('제재', 492), ('가능', 489), ('버스터', 478), ('필리', 478), ('논란', 456), ('카드', 452), ('의원', 448), ('발사', 448), ('총선', 425), ('대북', 422)]
03 [('공천', 1341), ('종합', 1151), ('민주', 1070), ('한국', 994), ('총선', 881), ('국민', 874), ('김종인', 820), ('뉴스', 819), ('후보', 766), ('대통령', 756), ('대표', 686), ('서울', 685), ('이세돌', 606), ('테러', 598), ('유승민', 589), ('속보', 572), ('알파', 559), ('김무성', 552), ('기업', 542), ('여성', 535), ('누리', 531), ('중국', 525), ('경제', 519), ('논란', 508), ('영상', 501), ('세계', 492), ('단독', 457), ('정부', 455), ('비례', 454), ('야권', 445)]
04 [('총선', 1180), ('대통령', 1011), ('종합', 1011), ('한국', 955), ('국민', 823), ('민주', 762), ('투표', 734), ('뉴스', 704), ('정부', 661), ('후보', 658), ('서울', 615), ('경제', 607), ('기업', 601), ('누리', 539), ('선거', 537), ('세월', 526), ('논란', 525), ('대표', 488), ('세계', 479), ('영상', 478), ('중국', 448), ('지진', 437), ('단독', 437), ('구조', 432), ('카드', 422), ('조선', 418), ('일본', 415), ('지원', 415), ('시장', 409), ('조사', 407)]
05 [('종합', 1142), ('한국', 1090), ('대통령', 999), ('뉴스', 804), ('여성', 706), ('트럼프', 700), ('서울', 640), ('정부', 632), ('기업', 578), ('국회', 571), ('옥시', 566), ('단독', 551), ('논란', 534), ('세계', 530), ('중국', 512), ('경제', 495), ('조선', 490), ('영상', 470), ('시장', 455), ('카드', 450), ('구조', 423), ('반기문', 421), ('사설', 420), ('살인', 415), ('가능', 399), ('북한', 397), ('대회', 396), ('살균제', 383), ('조사', 378), ('국민', 378)]
06 [('종합', 1384), ('한국', 1110), ('시트', 1004), ('브렉', 985), ('국민', 805), ('뉴스', 795), ('공항', 771), ('시장', 752), ('정부', 717), ('중국', 675), ('조선', 666), ('서울', 658), ('세계', 650), ('검찰', 637), ('논란', 599), ('기업', 590), ('수사', 570), ('경찰', 570), ('경제', 568), ('대통령', 567), ('여성', 557), ('국회', 546), ('영상', 531), ('의원', 528), ('사망', 494), ('단독', 493), ('의혹', 487), ('조사', 481), ('사고', 477), ('롯데', 443)]
07 [('사드', 2031), ('종합', 1566), ('한국', 1058), ('대통령', 957), ('배치', 944), ('경찰', 853), ('뉴스', 815), ('정부', 747), ('논란', 686), ('서울', 682), ('중국', 639), ('사망', 627), ('국민', 620), ('성주', 616), ('테러', 611), ('세계', 564), ('영상', 546), ('검찰', 538), ('의혹', 537), ('경제', 530), ('조사', 527), ('의원', 526), ('여성', 516), ('기업', 516), ('단독', 512), ('결정', 509), ('우병우', 508), ('시장', 501), ('시간', 472), ('수사', 463)]
08 [('종합', 1349), ('사드', 1263), ('대통령', 1065), ('폭염', 1055), ('한국', 1043), ('서울', 744), ('정부', 742), ('중국', 741), ('뉴스', 726), ('민주', 668), ('논란', 620), ('수사', 578), ('영상', 574), ('대표', 570), ('우병우', 563), ('경찰', 545), ('올림픽', 522), ('단독', 513), ('기업', 511), ('세계', 505), ('검찰', 500), ('의원', 491), ('여성', 484), ('가능', 474), ('사망', 472), ('조선', 466), ('최고', 461), ('일본', 435), ('청년', 431), ('국민', 422)]
09 [('지진', 1327), ('종합', 1175), ('대통령', 841), ('한국', 759), ('뉴스', 674), ('정부', 569), ('규모', 568), ('추석', 539), ('단독', 521), ('영상', 508), ('서울', 503), ('노트', 475), ('경주', 475), ('세계', 469), ('중국', 465), ('사망', 436), ('사드', 436), ('북한', 428), ('가능', 417), ('기업', 413), ('경찰', 393), ('여성', 387), ('지원', 386), ('한진', 382), ('국민', 380), ('김영란', 372), ('핵실험', 370), ('안전', 367), ('논란', 366), ('카드', 365)]
10 [('최순실', 2559), ('대통령', 1836), ('종합', 1176), ('한국', 848), ('의혹', 808), ('뉴스', 744), ('논란', 670), ('단독', 657), ('검찰', 627), ('영상', 593), ('경찰', 585), ('중국', 546), ('정부', 536), ('서울', 521), ('수사', 512), ('박근혜', 502), ('노트', 501), ('사망', 477), ('태풍', 475), ('남기', 468), ('국민', 461), ('국감', 447), ('세계', 446), ('경제', 445), ('트럼프', 445), ('기업', 442), ('시장', 402), ('조사', 381), ('여성', 380), ('청와대', 380)]
11 [('대통령', 5572), ('최순실', 2927), ('트럼프', 2034), ('박근혜', 1881), ('뉴스', 1749), ('탄핵', 1356), ('종합', 1276), ('검찰', 1263), ('퇴진', 1185), ('촛불', 1073), ('청와대', 999), ('국정', 972), ('수사', 953), ('조사', 925), ('오마이', 917), ('의혹', 852), ('한국', 852), ('노컷뉴스', 772), ('단독', 757), ('국민', 750), ('촛불집회', 713), ('속보', 696), ('총리', 683), ('영상', 665), ('대선', 653), ('집회', 650), ('시민', 582), ('시간', 567), ('논란', 556), ('정보', 541)]
12 [('탄핵', 2380), ('대통령', 1822), ('최순실', 897), ('박근혜', 650), ('종합', 646), ('촛불', 570), ('청문회', 508), ('퇴진', 491), ('국회', 453), ('가결', 449), ('국민', 439), ('세월', 408), ('청와대', 406), ('한국', 385), ('영상', 377), ('의원', 372), ('특검', 367), ('트럼프', 355), ('수사', 344), ('국정', 343), ('표결', 339), ('속보', 333), ('뉴스', 318), ('시간', 317), ('누리', 282), ('내년', 272), ('시민', 263), ('단독', 263), ('촛불집회', 260), ('경제', 258)]

In [124]:
df.reset_index().to_json('data/mecab.json',orient='records')