In [163]:
import rds_config
from sqlalchemy import create_engine

#rds settings
db_host  = rds_config.db_host
db_username = rds_config.db_username
db_password = rds_config.db_password
db_name = rds_config.db_name


SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://' + db_username + ':' + db_password + '@' + db_host + '/' + db_name + '?charset=utf8'

engine = create_engine(SQLALCHEMY_DATABASE_URI)
connection = engine.connect()

In [164]:
import pandas as pd
sql = "SELECT oid, aid, substring(date, 6,2) as month, substring(date, 9,2) as date, media, title, org_url, org_count+naver_count as total_count, section, ml_section FROM newscrawl WHERE section!='스포츠ㆍ연예' and ( org_count>0 or naver_count>0) "
df = pd.read_sql(sql, connection)
#pd.read_csv("dcdata10.csv")

In [165]:
len(df)

454360

In [166]:
df['title']=df['title'].str.replace(r'\[[A-Za-z가-힣0-9 ]+\]|\([A-Za-z가-힣0-9 ]+\)|\<[A-Za-z가-힣0-9 ]+\>','')
df['title']=df['title'].str.strip()
df['file_name']=pd.to_numeric(df["aid"], downcast='integer')

In [167]:
df['thumbnail']="http://imgnews.naver.net/image/origin/"+df["oid"]+"/2016/"+df["month"]+"/"+df["date"]+"/"+df["file_name"].apply(str)+".jpg"

In [168]:
top100=df[['total_count', 'title', 'org_url', 'thumbnail']].sort_values('total_count', ascending=False).head(100)
top100.to_csv('data/top100.tsv', sep="\t", index=False)

In [169]:
%%time
from konlpy.tag import Mecab
mecab = Mecab()

def mecab_words(sentence):
    word_list = mecab.nouns(sentence)
    #return " ".join(word_list)
    return " ".join(filter(lambda x: len(x.strip())>1, word_list))
    #return filter(lambda x: len(x)>1, " ".join(word_list))

df['title_me_noun'] = df['title'].apply(mecab_words)

CPU times: user 34.6 s, sys: 76 ms, total: 34.7 s
Wall time: 34.7 s

In [221]:
word_count=df[['ml_section', 'month', 'total_count', 'media', 'title_me_noun']]
#word_count=word_count[word_count['month']=='11']

In [222]:
df_by_count = word_count.groupby(['total_count'])
count_list = df_by_count['title_me_noun'].apply(list)

In [223]:
result_by_count = pd.Series()
word_dict = dict()
for weight, word_list in count_list.iteritems():
#    result_by_count.set_value(weight, Counter(" ".join(word_list).split(" ")))
    #print(" ".join(word_list))
    for corpus in word_list :
        for word in corpus.split(" "):
            word_dict[word] = word_dict.get(word, 0)+weight

In [224]:
from collections import OrderedDict
import itertools
d_sorted_by_value = OrderedDict(sorted(word_dict.items(), key=lambda x: x[1], reverse=True))
top100 = itertools.islice(d_sorted_by_value.items(), 0, 100)
for k,v in top100:
    print("%s:%d"%(k,v))

대통령:9250363
최순실:4891858
박근혜:3695649
세월호:2300667
한국:2202757
경찰:1953772
논란:1946919
청와대:1880217
탄핵:1815637
검찰:1772960
정부:1601732
여성:1539458
의원:1507701
시간:1474976
국민:1458910
의혹:1442353
사람:1408395
수사:1394549
촛불:1385455
시민:1352681
이유:1273842
새누리:1264243
공개:1236638
우병우:1183370
서울:1125650
국회:1050701
사드:1026643
일본:1009027
교수:1000710
위안부:998166
퇴진:993481
집회:985423
사망:984393
학생:975998
우리:972460
정유라:872002
국정:871374
문재인:869890
세계:862920
조사:858360
발언:853719
이정현:828756
사진:828267
이재명:818269
정치:814946
시장:801090
더민주:766015
대표:765244
소녀:762706
시위:760296
백남기:743979
촛불집회:743685
새누리당:732142
중국:727891
아이:715956
박원순:713709
교과서:706318
청년:702863
반대:701514
기업:700347
박정희:700158
발견:687533
가능:685810
나라:669081
부산:658620
아들:653509
한겨레:641136
삼성:639863
사건:628317
요구:626582
사과:626430
미국:618710
거부:614188
사고:613717
특검:606158
병원:602361
문제:602100
엄마:593221
노무현:588172
성폭행:585155
남성:582779
학교:582744
눈물:581871
북한:573932
트럼프:569329
반기문:567845
단체:562014
역사:560352
국가:552048
지시:551477
지진:550010
대선:549880
분노:546107
운동:539209
인사:533614
기자:532129
후보:530060
총선:528096
폭행:528003
사퇴:526826

## 섹션별 또는 월별 단어 빈도 * 공유수

In [225]:
df_by_month_count = word_count.groupby(['ml_section','total_count'])
month_count_list = df_by_month_count['title_me_noun'].apply(list)
month_count_list.shape

(17675,)

In [226]:
result_by_month = pd.Series()
i_count = 0
word_dict = dict()
prior_month = '01'
for (month, weight), word_list in month_count_list.iteritems():
    if(prior_month!=month):
        word_dict = dict()        
    for corpus in word_list :
        for word in corpus.split(" "):
            word_dict[word] = word_dict.get(word, 0)+weight  
            
    result_by_month.set_value(month, word_dict)
    prior_month=month

In [227]:
for month, words in result_by_month.iteritems():
    d = OrderedDict(sorted(words.items(), key=lambda x: x[1], reverse=True))
    x = itertools.islice(d.items(), 0, 30)
    print(month,[k for k,v in x]  )

0 ['대통령', '한겨레', '한국', '박근혜', '최순실', '서울', '이유', '여성', '교과서', '정부', '국정', '사드', '사람', '세월호', '우리', '논란', '세계', '시민', '', '나라', '시장', '시간', '교사', '중국', '그림판', '국민', '역사', '학생', '위안부', '학교']
1 ['대통령', '최순실', '박근혜', '탄핵', '새누리', '의원', '청와대', '국회', '문재인', '세월호', '더민주', '이정현', '우병우', '국민', '검찰', '정부', '새누리당', '논란', '정치', '시간', '의혹', '사드', '이재명', '대표', '김무성', '발언', '필리버스터', '안철수', '지지율', '촛불']
2 ['한국', '기업', '삼성', '정부', '경제', '최순실', '삼성전자', '회장', '에어컨', '전기료', '세계', '시장', '직원', '은행', '판매', '국민연금', '시간', '논란', '위기', '국민', '요금', '배터리', '갤노트', '의혹', '확인', '카드', '최대', '중국', '이유', '투자']
3 ['대통령', '최순실', '경찰', '박근혜', '세월호', '검찰', '수사', '논란', '시민', '촛불', '청와대', '여성', '의혹', '집회', '학생', '서울', '교수', '사람', '시간', '한국', '사망', '정유라', '정부', '백남기', '촛불집회', '국민', '공개', '퇴진', '우병우', '이유']
4 ['한국', '논란', '사진', '영화', '블랙리스트', '이유', '세계', '사람', '박근혜', '예술', '등장', '대통령', '문화', '의정부', '우리', '무대', '귀향', '공개', '홍상수', '교수', '여자', '청와대', '조윤선', '올림픽', '작가', '위안부', '최순실', '이야기', '화제', '아이']
5 ['한국', '여성', '트럼프', '일본', '대통령', '세계', '중국', '미국', '오바마', '위안부', '남성', '소녀', '박근혜', '아이', '사망', '분노', '논란', '반기문', '엄마', '사람', '사진', '발견', '테러', '아기', '소년', '살해', '등장', '경찰', '시위', '언론']
6 ['한국', '사람', '정리', '정돈', '아이폰', '위험', '아이', '갤노트', '정부', '개발', '세계', '인공지능', '네이버', '애플', '돌파', '구글', '가능', '바나나', '이유', '당신', '시즌', '동물', '회수', '스마트폰', '로봇', '액츄얼리', '삼성', '인간', '아기', '기업']

## 월별 단어 빈도

In [218]:
df_by_month = df.groupby(['month'])
df_by_media_month = df.groupby(['month', 'media'])

In [219]:
from collections import Counter

by_me_month = df_by_month['title_me_noun'].apply(list)
result_by_me_month = pd.Series()

for month, words in by_me_month.iteritems():
    result_by_me_month.set_value(month, Counter(" ".join(words).split(" ")))

In [220]:
for month, words in result_by_me_month.iteritems():
    print(month, words.most_common(30))

01 [('한국', 1033), ('대통령', 892), ('중국', 786), ('서울', 665), ('위안부', 640), ('경제', 632), ('더민주', 612), ('정부', 606), ('시장', 576), ('북한', 560), ('세계', 548), ('논란', 527), ('안철수', 507), ('미국', 496), ('의원', 437), ('한파', 421), ('가능', 420), ('일본', 415), ('정치', 406), ('청년', 393), ('기업', 385), ('합의', 379), ('공항', 378), ('핵실험', 373), ('영입', 370), ('올해', 366), ('경찰', 363), ('사망', 363), ('대북', 358), ('제주', 351)]
02 [('한국', 872), ('개성공단', 746), ('대통령', 723), ('중국', 666), ('사드', 655), ('정부', 642), ('미사일', 642), ('북한', 638), ('서울', 543), ('기업', 517), ('더민주', 508), ('시장', 502), ('세계', 472), ('가능', 466), ('제재', 458), ('경제', 441), ('발사', 440), ('필리버스터', 432), ('의원', 428), ('공천', 412), ('대북', 412), ('배치', 410), ('논란', 405), ('총선', 404), ('미국', 368), ('국민의당', 356), ('시간', 341), ('경찰', 336), ('국회', 331), ('공개', 326)]
03 [('공천', 1335), ('더민주', 971), ('한국', 914), ('총선', 849), ('김종인', 816), ('후보', 755), ('대통령', 752), ('서울', 673), ('대표', 670), ('유승민', 589), ('국민의당', 553), ('김무성', 552), ('이세돌', 549), ('여성', 529), ('기업', 511), ('알파', 511), ('중국', 504), ('논란', 491), ('새누리', 476), ('비례', 447), ('정부', 446), ('야권', 442), ('세계', 438), ('정치', 418), ('시장', 416), ('안철수', 413), ('경제', 413), ('테러', 405), ('일본', 402), ('북한', 383)]
04 [('총선', 1069), ('대통령', 1000), ('한국', 894), ('투표', 720), ('정부', 656), ('후보', 653), ('더민주', 650), ('서울', 592), ('기업', 547), ('국민의당', 529), ('선거', 527), ('논란', 506), ('새누리', 504), ('경제', 500), ('세월호', 496), ('대표', 461), ('중국', 435), ('구조', 414), ('세계', 414), ('지원', 412), ('지진', 409), ('김종인', 403), ('일본', 389), ('여성', 389), ('시장', 387), ('국회', 386), ('가능', 384), ('정치', 383), ('조선', 361), ('문재인', 357)]
05 [('한국', 1030), ('대통령', 987), ('트럼프', 693), ('여성', 689), ('정부', 621), ('서울', 608), ('옥시', 556), ('기업', 542), ('국회', 539), ('논란', 509), ('중국', 488), ('세계', 482), ('시장', 432), ('반기문', 411), ('구조', 408), ('조선', 407), ('살인', 397), ('경제', 393), ('가능', 385), ('대회', 372), ('북한', 368), ('경찰', 363), ('살균제', 363), ('조사', 360), ('가습기', 355), ('대표', 351), ('조정', 345), ('검찰', 343), ('김정은', 336), ('구속', 333)]
06 [('한국', 1038), ('시장', 724), ('공항', 723), ('정부', 704), ('브렉시트', 675), ('중국', 657), ('서울', 649), ('검찰', 626), ('세계', 612), ('논란', 573), ('경찰', 565), ('대통령', 560), ('기업', 550), ('여성', 548), ('수사', 543), ('조선', 532), ('의원', 522), ('국회', 512), ('사망', 481), ('의혹', 479), ('조사', 465), ('사고', 456), ('경제', 431), ('성폭행', 430), ('국민의당', 426), ('롯데', 413), ('영국', 396), ('시간', 395), ('우리', 379), ('추진', 370)]
07 [('사드', 1900), ('한국', 1002), ('대통령', 955), ('경찰', 846), ('배치', 830), ('정부', 738), ('논란', 666), ('서울', 662), ('사망', 623), ('중국', 619), ('성주', 601), ('테러', 581), ('검찰', 533), ('의혹', 532), ('의원', 525), ('세계', 517), ('여성', 500), ('조사', 495), ('기업', 492), ('우병우', 487), ('시장', 481), ('시간', 455), ('수사', 455), ('결정', 451), ('가능', 444), ('포켓몬', 437), ('부산', 416), ('총리', 413), ('구속', 413), ('공개', 403)]
08 [('사드', 1246), ('대통령', 1063), ('폭염', 992), ('한국', 928), ('서울', 729), ('정부', 725), ('중국', 715), ('논란', 581), ('더민주', 580), ('수사', 560), ('우병우', 545), ('경찰', 543), ('대표', 530), ('검찰', 494), ('기업', 491), ('의원', 487), ('여성', 475), ('사망', 467), ('가능', 455), ('세계', 444), ('최고', 442), ('청년', 423), ('일본', 410), ('조선', 395), ('의혹', 379), ('조사', 371), ('배치', 370), ('트럼프', 354), ('공개', 351), ('시장', 348)]
09 [('지진', 1281), ('대통령', 848), ('한국', 736), ('정부', 578), ('규모', 544), ('추석', 525), ('서울', 502), ('경주', 466), ('중국', 465), ('세계', 451), ('사망', 444), ('사드', 440), ('가능', 427), ('북한', 415), ('기업', 401), ('경찰', 399), ('여성', 393), ('지원', 393), ('의혹', 375), ('논란', 372), ('한진', 371), ('안전', 366), ('김영란', 364), ('국회', 351), ('핵실험', 349), ('검찰', 340), ('해운', 333), ('시장', 331), ('대표', 327), ('피해', 321)]
10 [('최순실', 2438), ('대통령', 1814), ('의혹', 798), ('한국', 785), ('논란', 656), ('검찰', 624), ('경찰', 587), ('중국', 541), ('정부', 539), ('서울', 526), ('수사', 516), ('박근혜', 491), ('사망', 474), ('트럼프', 456), ('백남기', 415), ('기업', 410), ('세계', 406), ('시장', 389), ('여성', 377), ('청와대', 364), ('조사', 364), ('국민', 362), ('태풍', 358), ('경제', 352), ('교수', 351), ('미르', 351), ('중단', 348), ('가능', 339), ('시간', 336), ('미국', 330)]
11 [('대통령', 5490), ('최순실', 2839), ('트럼프', 1886), ('박근혜', 1836), ('탄핵', 1348), ('검찰', 1254), ('퇴진', 1179), ('촛불', 1018), ('청와대', 952), ('수사', 945), ('조사', 871), ('의혹', 844), ('한국', 811), ('국정', 694), ('총리', 676), ('집회', 640), ('국민', 633), ('촛불집회', 628), ('대선', 580), ('시민', 575), ('시간', 544), ('논란', 528), ('정보', 524), ('서울', 487), ('게이트', 465), ('정부', 462), ('경찰', 456), ('가능', 456), ('교과서', 451), ('특검', 450)]
12 [('대통령', 2806), ('탄핵', 2629), ('최순실', 1954), ('특검', 1098), ('박근혜', 979), ('촛불', 897), ('한국', 761), ('세월호', 746), ('수사', 742), ('청문회', 688), ('내년', 688), ('트럼프', 663), ('의원', 655), ('의혹', 607), ('국회', 585), ('시간', 577), ('청와대', 569), ('퇴진', 567), ('국민', 548), ('헌재', 544), ('정부', 500), ('논란', 499), ('반기문', 480), ('공개', 480), ('대선', 475), ('새누리', 469), ('삼성', 463), ('우병우', 454), ('국정', 452), ('가능', 452)]

In [22]:
df_section = df[['section', 'ml_section', 'media', 'total_count']]
df_section[['media','ml_section','total_count']].groupby(['ml_section', 'media']).agg(['count','sum'])

                    total_count
                          count      sum
ml_section media
0          chosun         20061  1775041
           donga          19648   885702
           edaily          3216   121187
           hani            4887  2030009
           joins           6200   836716
           jtbc             503    61297
           kbs             1498    93530
           kh              8799  1319687
           mbc             3138    84109
           mk              6234   288059
           nocut           4896   272554
           ohmynews        5600  1573652
           sbs             3425   538344
           yonhap         44774  3107181
           ytn             3702   942635
1          chosun          8204  1537788
           donga            620    83773
           edaily          3334   218287
           hani            5160  4495729
           joins           6773  3140421
           jtbc            4406  2148632
           kbs             4741   241284
           kh              6304  3276232
           mbc             1839    74180
           mk              2946   193754
           nocut           4174   633833
           ohmynews        5629  5802872
           sbs             8057  1278525
           yonhap         15671  1800274
           ytn             3323   406840
...                         ...      ...
4          kbs             1665    81617
           kh              1494   281243
           mk              1693    72439
           nocut           1978   245889
           ohmynews         563   116121
           sbs              602   112647
           yonhap          1761   131566
           ytn             2489   689706
5          chosun          5189  1678389
           donga             93     4150
           edaily           931    15893
           hani            2248   600828
           joins           3676   843361
           jtbc            1342   208850
           kbs             3190   103161
           kh              2709   762311
           mk              2657    98782
           ohmynews        1512   780875
           sbs             9382  1713128
           yonhap         12190   595519
           ytn             3650  1684294
6          edaily          2035    82683
           hani             316    84669
           joins            255    42577
           kbs              475    25725
           kh               222    10488
           mk              1664    82107
           nocut            406    57162
           yonhap          2012   100289
           ytn              242    97989

[95 rows x 2 columns]