In [20]:
import pandas as pd

In [21]:
df = pd.read_pickle('./newsdata/yonhap_all.pkl')

In [22]:
len(df)

836798

In [23]:
df.head(5)

,article,author,date,section,title
0,"보석은 불허…""한 달 이내 새 재판 열릴 것"" 이집트 법원이 1일(현지시간)...",한상용,2015-01-01,국제일반,"이집트 법원, 알자지라 기자 징역형 원심 파기환송(종합)"
1,한 때 브랜드 '빅맨'으로 국내 대표적인 속옷업체로 이름을 날렸던 케이비물...,이대희,2015-01-08,사회일반,'빅맨' 속옷업체 회삿돈 빼돌린 조폭 구속기소
2,미국 캘리포니아 남부에서 동거하던 한국계 남녀가 이동식 주택 안에서 총에 ...,임화섭,2015-01-11,살인,샌디에이고서 한인 남녀 시신 발견…살인후 자살 의심
3,애플이 대화면 아이폰의 인기에 힘입어 삼성전자의 세계 시장 점유율 1위 자...,이윤영,2015-01-27,휴대단말,"""애플, 삼성의 세계판매 1위 자리 바짝 추격""< WSJ>"
4,‘아 그걸 뭐라고 부르지…’외국에서 평범한 생활용품을 사려다 물건 이름이 ...,전승엽,2015-01-28,교육일반,<카드뉴스> 이걸 영어로 뭐라고 할까요

## 섹션 분리

In [24]:
df['sec']=df['section'].apply(lambda x: x.replace('일반', ''))

In [25]:
counts=df.groupby('sec').size()
sorted_counts=counts.sort_values(ascending=False)
sorted_counts

sec
지방행정        111001
사회           99891
국제           84225
정치           82755
경제           80266
기업           18618
산업           17347
문화           14436
중앙행정         14017
외교           12830
국방           11572
재테크          11350
대기업          10513
북한            9373
경찰            8969
IT            8708
교육            8561
국회            7326
소비자           6671
증권시장          6520
금융·증권         5366
편집            5294
대학교육          5009
사건            4642
의료            4500
대통령업무         4419
청와대           4204
중소기업          4151
관광업           3407
지방의회          3336
             ...
대중가요             4
임대업              4
레이싱              3
주식시황             3
야구               3
해외축구             2
경마               2
해외야구             2
수상레포츠            2
국내대회             2
금시세              2
기업분석             2
배구               2
무속신앙             2
교포               1
익스트림게임           1
승마               1
헤드라인             1
핸드볼              1
OANA             1
유럽연합             1
레슬링              1
문화관광             1
하계유니버시아드         1
장애아시안게임          1
동계올림픽            1
개발원조             1
종합금융사            1
증시일정             1
대체의학             1
dtype: int64

In [26]:
sorted_counts.to_csv('./yonhap_sec.csv')

In [27]:
df=df.reset_index(drop=True)

In [28]:
len(df)

836798

In [29]:
df_soc=df[df['sec']=='사회']
docs = df_soc.article

In [30]:
%%time
from konlpy.tag import Mecab; m = Mecab()
#pos = lambda d: ['/'.join(p) for p in m.pos(d)]
def noun_tagger(text):
    #return [pos[0] for pos in t.pos(text) if pos[1] in ['SL','SH','SN','NN','NNG', 'NNP']]
    #return [pos[0] for pos in m.pos(text) if (pos[1] in ['SL','SH','SN']) or pos[1].startswith('NN')]
    return [pos[0] for pos in m.pos(text) if pos[1].startswith('NN')]

CPU times: user 0 ns, sys: 4 ms, total: 4 ms
Wall time: 5.65 ms

In [35]:
stopwords_newsis=['지난해', '중','말', '뒤', '곳', '군', '건', '이날', '도', '등', '명', '시', '앞', '원', '분', '회', '년', '것', '씨', '일', '월','오전','오후']

In [36]:
%%time
import numpy as np;
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(tokenizer=noun_tagger,stop_words=stopwords_newsis, ngram_range=(1,3), min_df=2, max_df=.25)
vect_weights = vect.fit_transform(docs)
#sorted(vect.vocabulary_, key=vect.vocabulary_.get, reverse=True)
weights = np.asarray(vect_weights.mean(axis=0)).ravel().tolist()
weights_df = pd.DataFrame({'term': vect.get_feature_names(), 'weight': weights})

CPU times: user 8min 35s, sys: 2.44 s, total: 8min 37s
Wall time: 8min 39s

In [33]:
weights_df.sort_values(by='weight', ascending=False).head(50)

        term    weight
160440    경찰  0.012148
2514126   혐의  0.008852
2414342   학교  0.008402
1236199    수  0.008112
1140116   서울  0.007362
1946516   조사  0.007086
449313     김  0.006861
307674    교육  0.006543
2055086   지역  0.006486
1032436   사고  0.006391
2430731   학생  0.006380
917096    병원  0.006315
574095     대  0.005629
66519      개  0.005517
318605   교육청  0.005279
2063219   지원  0.005168
337126    구속  0.004843
1303332   시간  0.004750
1401783   안전  0.004704
260175   관계자  0.004626
1259378   수사  0.004523
332686    구름  0.004517
111559    검찰  0.004440
300606    교수  0.004376
433837    기온  0.004369
617144    대학  0.004365
967174    부산  0.004346
2124618   차량  0.004328
175318   경찰서  0.004292
1027092   사건  0.004275
1081079   사회  0.004160
839034    발생  0.004133
2443742   한국  0.004132
1565114   운영  0.004033
1058547   사업  0.004018
1342972   신고  0.004007
2396611   피해  0.004002
780975    문화  0.003882
2038693  지난해  0.003868
1313804   시민  0.003843
425061    기소  0.003693
1457260   여성  0.003684
1199114   센터  0.003673
1723829   인천  0.003669
275367    관리  0.003647
2047026   지방  0.003616
1835606    전  0.003606
2505711   현장  0.003603
2119653    차  0.003558
889990    범행  0.003522

## 필요없는 데이터 제거

In [7]:
df.drop(['author', 'date','section'], axis = 1, inplace = True)

## 본문 길이 체크

In [9]:
df['article']=df['article'].apply(lambda x: x.strip())
df['len']=df['article'].apply(lambda x: len(x))
df=df[df['len']>0]

df=df.reset_index(drop=True)

In [11]:
len(df)

3004642

In [10]:
df.tail(4)

,article,title,sec,len
3004638,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,더 신중하게,스포츠,85
3004639,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,멀리 멀리,스포츠,85
3004640,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,어느 위치가 좋을까,스포츠,84
3004641,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,포즈취하는 정한밀,스포츠,85

In [ ]:
df.to_pickle('newsis_sec.pkl')

## 섹션 정리

In [5]:
df = pd.read_pickle('newsis_sec.pkl')

In [6]:
counts=df.groupby('sec').size()
sorted_counts=counts.sort_values(ascending=False)
sorted_counts

sec
사회      911719
전국      573195
정치      540389
경제      305404
스포츠     275750
국제      220694
연예       77112
문화       56073
산업       33739
사람들       5277
광장        2784
기타        1113
라이프       1035
오피니언       345
국감          13
dtype: int64

In [7]:
df[df['sec']=='산업']

,article,title,sec,len
598807,프랜차이즈 커피전문점은 신임 대표이사에 유재면(사진) 전 웅진식품 대표를 선임했다고...,"드롭탑, 신임 대표이사에 유재면 前 웅진식품 대표",산업,334
1327124,우영윤씨가 서울 양평동 자신의 사무실에서 고객과 상담을 하고 있다. 해외 유학을...,"[청년, 창업에서 희망을 보다④]“사업도 창작…해외여행하며 영감얻어”",산업,2175
1447340,커피전문점 드롭탑은 김택(사진) 대표이사를 새로운 최고경영자(CEO)로영입했다고 2...,"드롭탑, 김택 신임 대표 영입…해외공략 박차",산업,380
2373206,아우디는 5일(현지시간) 미국 라스베이거스에서 열리는 'CES 2017'에서 엔비디...,"[CES2017]아우디, AI 접목한 자율주행기술 선보여",산업,1103
2373207,폭스바겐은 미국 라스베이거스에서 열리는 'CES 2017'에서 고객들과 자동차와의 ...,"[CES2017]폭스바겐, 자율주행콘셉트카 'I.D.' 공개",산업,570
2373223,장세영 기자= 지난해 영업 종료 이후 193일 만의 영업 재개한 서울 송파구 롯데면...,롯데면세점 월드타워점 재개장,산업,210
2373291,"▲쌤소나이트 레드가 한국과 일본, 중국 등지에서 글로벌 인기를 얻고 있는 배우 이종...","[패션단신]쌤쏘나이트 레드, 배우 이종석 모델 발탁 外",산업,511
2373307,삼성전자 윤부근 대표이사 사장이 4일(현지시각) 미국 라스베이거스에서 'CES 20...,기자간담회 하는 윤부근 대표이사 사장,산업,212
2373309,삼성전자 윤부근 대표이사 사장이 4일(현지시각) 미국 라스베이거스에서 'CES 20...,기자간담회 하는 윤부근 대표이사 사장,산업,212
2373310,삼성전자 윤부근 대표이사 사장이 4일(현지시각) 미국 라스베이거스에서 'CES 20...,간담회 하는 윤부근,산업,212
2373315,ICT 각 산업에 밀접하게 접목돼 새 시장 융합·창출되는 '빅블러' 보여줘 I...,[CES2017]자율주행차·IoT·AI·로봇…'4차 산업혁명' 향연 펼친다,산업,2903
2373322,삼성전자 윤부근 대표이사 사장이 4일(현지시각) 미국 라스베이거스에서 'CES 20...,기자간담회 하는 윤부근 대표이사 사장,산업,212
2373324,장세영 기자= 지난해 영업 종료 이후 193일 만의 영업 재개한 서울 송파구 롯데면...,"재개장 롯데면세점 월드타워점, 유커로 가득",산업,210
2373339,장세영 기자= 지난해 영업 종료 이후 193일 만의 영업 재개한 서울 송파구 롯데면...,롯데면세점 월드타워점 재개장,산업,210
2373342,장세영 기자= 지난해 영업 종료 이후 193일 만의 영업 재개한 서울 송파구 롯데면...,롯데면세점 월드타워점 재개장,산업,210
2373345,장세영 기자= 지난해 영업 종료 이후 193일 만의 영업 재개한 서울 송파구 롯데면...,롯데면세점 월드타워점 재개장 몰린 유커,산업,210
2373603,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,방배아트자이 단지 모형 살피는 방문객,산업,182
2373604,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,'방배아트자이 견본주택 보러 왔어요',산업,190
2373608,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,견본주택 둘러볼까?,산업,179
2373613,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,방배아트자이 길게 준 선 방문객들,산업,190
2373616,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,방배아트자이의 넓은 거실,산업,179
2373617,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,"방배아트자이 견본주택 오픈, 입장 기다리는 방문객",산업,191
2373619,방배아트자이 견본주택을 오픈한 5일 오전 서울 강남구 대치동 자이갤러리에서 방문객들...,'방배아트자이 견본주택 오픈',산업,190
2373627,"박진수 LG화학 부회장 익산공장 방문, 현장경영 시동 박진수 LG화학 부회...","박진수 LG화학 부회장 ""레드 바이오 글로벌 플레이어로 도약하자""",산업,813
2373661,오리온 '초코파이情'의 지난해 글로벌 연매출이 전년 대비 24% 성장한 4800억원...,"오리온 초코파이情, 지난해 글로벌 매출 4800억…사상최대치",산업,1152
2373662,"삼성전자 ""단순히 명암비 크고, 밝기 높다고 해서 좋은 화질 아냐"" 포문 LG ""...",삼성 對 LG 또 맞붙었다…'QLED VS. OLED' 놓고 신경전 가열,산업,2643
2373670,미래창조과학부가 차은택씨가 맡았던 문화융성담당 '민관합동 창조경제추진단장' 자리를 ...,"미래부, '차은택' 맡았던 '창조경제추진단장'직 1석 폐지",산업,519
2373715,3일(현지시간) 미국 라스베이거스에서 열린 'CES 2017'에서 참가자들이 현대자...,"[CES2017]현대차, 자율주행·웨어러블로봇 등 첨단기술 대거 공개",산업,68
2373802,"""대형 OLED생산량 2배로 확대하고 6세대 중소형 P-OLED생산 개시"" 삼성...","[CES2017]한상범 LGD 부회장 ""삼성 QLED 결국 단점 있을 것""",산업,1497
2373808,식품의약품안전처는 손문기 식약처장이 5일 경북 안동시 SK케미칼 백신 제조소를 방문...,"손문기 식약처장, SK케미칼 백신공장 방문",산업,743
...,...,...,...,...
3003441,5일 서울 다이소 신촌본점에서 모델이 다이소 홈와인바 용품을 소개하고 있다. 다...,'다이소 홈와인바 용품으로 와인 즐기세요',산업,140
3003445,페라리가 브랜드 출범 70주년을 기념하는 '페라리 70주년 기념 사진전'을 카카오와...,"페라리, 카카오와 70주년 기념 사진전 개최",산업,639
3003447,델타항공이 초록우산어린이재단과 함께 진행하는 제 14차 '드림투어'를 5일 시작한다...,"델타항공, 초록우산어린이재단과 제 14차 '드림투어' 실시",산업,695
3003448,현대자동차그룹이 청각장애 어린이들의 통학길에 특별한 추억을 선사하는 프로젝트인 '재...,"현대차그룹, 청각장애 어린이들에 '유리창 소통' 선사",산업,1071
3003459,SK실트론 인수 마무리·BMS 아일랜드 생산공장 등 굵직한 M&A 성사 급변하는 ...,'투자전문' 지주회사로 변신하는 SK…연이은 M&A 성공,산업,1597
3003472,하이트진로는 일본 기린사(社)가 출시한 프리미엄 크래프트 맥주 ‘그랜드 기린 IPA...,"하이트진로, 크래프트 맥주 ‘그랜드 기린’ 2종 출시",산업,842
3003474,삼성전자가 오는 29일까지 전국 6000여개 초등학교 학생들을 대상으로 일상 생활 ...,"삼성전자, 초등학생 대상 친환경 미션 '그린 챌린지' 캠페인",산업,884
3003498,"스마트밴드 집중했던 핏빗, 점점 줄어주는 점유율에 '스마트워치'로 선회 워치, 밴드...",프리미엄 손목시장 잡아라…'핏빗'도 스마트워치 공략나서,산업,2062
3003515,국토교통부는 오는 8일 경기도 고양시에 소재한 킨텍스에서 '도시재생 국제콘퍼런스'를...,"국토부, 도시재생 국제콘퍼런스 개최",산업,473
3003519,국토교통부는 8.2 주택시장 안정화 대책 발표 이후 성남시 분당구와 대구시 수성구에...,"분당도 투기과열지구 지정, 가격 상승 주춤할 듯",산업,115
3003523,국토교통부는 8.2 주택시장 안정화 대책 발표 이후 성남시 분당구와 대구시 수성구에...,"8.2 후속 대책, ""가격 하락 불가피""···분양가 상한제는 지켜봐야",산업,115
3003530,최근 건강증진과 질병예방을 위해 다양한 효능을 가진 자연식물을 단순가공한 건강표방식...,톳환·다시마환 제품서 중금속 다량 검출,산업,703
3003617,5일 국토교통부는 8.2 주택시장 안정화 대책 발표 이후 과열 현상이 빠르게 진정되...,"[그래픽]경기 분당·대구 수성, 투기과열지구 추가 지정",산업,187
3003702,5일 서울 용산구 이마트 용산점 센텐스 매장에서 모델들이 환절기 민감한 피부관리를 ...,"환절기 피부, 센텐스 스크럽으로 해결하세요",산업,206
3003706,5일 서울 용산구 이마트 용산점 센텐스 매장에서 모델들이 환절기 민감한 피부관리를 ...,"환절기 피부 경보, 센텐스 스크럽으로 해결",산업,206
3003717,5일 서울 용산구 이마트 용산점 센텐스 매장에서 모델들이 환절기 민감한 피부관리를 ...,환절기 민감한 피부 관리에는 센텐스 스크럽,산업,206
3003718,5일 서울 용산구 이마트 용산점 센텐스 매장에서 모델들이 환절기 민감한 피부관리를 ...,환절기 민감한 피부 관리에는 센텐스 스크럽,산업,206
3003722,5일 서울 용산구 이마트 용산점 센텐스 매장에서 모델들이 환절기 민감한 피부관리를 ...,"센텐스 스크럽, 환절기 피부 관리에 좋아요",산업,206
3003725,5일 서울 용산구 이마트 용산점 센텐스 매장에서 모델들이 환절기 민감한 피부관리를 ...,"센텐스 스크럽, 환절기 피부 관리 해결",산업,206
3003759,19일 중국 배이징현대 충칭공장에서 열린 '충칭공장 생산기념식'에 참석한 현대차 정...,"현대차, 中 공장 또 중단···""피해는 쌓이고 고민 깊어져""",산업,80
3003801,▲롯데리아가 9월 한 달간 새우버거와 모짜렐라 인 더 버거를 콜라보한 신제품 '모짜...,"[식음료단신]롯데리아, 모짜새우 디저트변경 이벤트 外",산업,1014
3003807,통상임금 소송에서 패소한 기아자동차 박한우 기아차 사장의 고심이 깊어지고 있다. ...,"'통상임금 소송 패소' 박한우 기아차 사장, 재정적 부담 급증에 고심 깊어",산업,1843
3003939,삼성SDS는 5일 서울 잠실 삼성SDS타워에서 미디어설명회를 열고 기업용 대화형 A...,"삼성SDS, 대화형 AI '브리티' 출시···""기업 시장 공략""",산업,2287
3003989,삼성전자가 갤럭시노트8 출시로 하반기 실적이 더욱 호조를 보일 것으로 전망된다. ...,신고식 마친 갤노트8…삼성전자 IM 하반기 실적 '들썩들썩',산업,1280
3004153,중소벤처기업부가 5일 박성진 장관 후보자의 ‘셀프 포상’ 논란과 관련해서 “경영성과...,"중소벤처기업부, 장관 후보자 ‘셀프 포상’ 의혹에 “경영성과에 따른 보상”",산업,603
3004267,5일 서울 마포구 백범로 한국경영자총협회에서 박병원(오른쪽) 한국경영자총협회장이 김...,"박병원 경총 회장 ""모든 문제 정부 국회서 해결하고 공을 법원으로 넘기는 일 없어야""",산업,79
3004333,"이용자 2차 피해 우려, ID 및 PW 변경 조치 당부 방송통신위원회는 ㈜이스...",이스트소프트 개인정보 13만건 유출···방통위 조사 중,산업,829
3004386,녹십자는 양·한방 복합 감기약 '원감탕' 시리즈 3종을 출시했다고 5일 밝혔다. ...,"녹십자, 원감탕 시리즈 3종 출시",산업,635
3004464,5일 서울시청에서 열린 '2017서울사회복지대회' 수상자들이 기념 사진을 찍고 있다...,"하나투어, ‘2017 서울사회복지대회’ 서울특별시장상",산업,839
3004541,기아차가 이달 한달동안 '특근'을 하지 않기로 최종 결정한 것으로 1일 나타났다. ...,"기아차, 9월 한달 특근 폐지…통상임금 패소 영향",산업,686

In [4]:
counts=df.groupby('sec').size()
section_idx=enumerate(counts.keys())
section_to_int = {word: ii for ii, word in section_idx}
section_to_int

{'경제': 0,
 '광장': 1,
 '국감': 2,
 '국제': 3,
 '기타': 4,
 '라이프': 5,
 '문화': 6,
 '사람들': 7,
 '사회': 8,
 '산업': 9,
 '스포츠': 10,
 '연예': 11,
 '오피니언': 12,
 '전국': 13,
 '정치': 14}

In [ ]:
def set_section_idx(section):
    return section_to_int[section]

In [ ]:
pickle_dict1['sec_idx']=pickle_dict1['sec'].apply(set_section_idx)

## 문장추출

In [3]:
doc_sentences=df['article'].str.findall(r"[0-9a-zA-Z가-힣%,()\- ]+\.")

In [4]:
len(doc_sentences)

3004642

In [5]:
%%time
from konlpy.tag import Mecab; m = Mecab()
pos = lambda d: ['/'.join(p) for p in m.pos(d)]

tagged_sentences=doc_sentences.apply(lambda x:pos(''.join(x)))

KeyboardInterrupt:

In [6]:
words_count=tagged_sentences.apply(lambda x:len(x))

In [7]:
df['sentences']=doc_sentences
df['tagged_sentences']=tagged_sentences
df['words_count']=words_count

In [10]:
df[df['words_count']==0]

,article,title,sec,len,sec_idx,sentences,tagged_sentences,words_count
1,"2일부터 오는 6일까지 계룡대에서 개최되는 '2013년 계룡 군문화축제, 지상군페스...",6.25전쟁 사진전 보는 학생들,사회,123,8,[],[],0
2,1일 오전 서울 동대문구청사에서 열린 학교급식 식재료의 질적 개선과 안정적인 공급을...,'어느 쌀이 우수할까',사회,89,8,[],[],0
7,김석균(왼쪽) 해양경찰청장이 1일 오후 서해·제주 해역에서 광역초계기(CN-235)...,"김석균 해양경찰청장, 외국어선 조업실태 점검",사회,81,8,[],[],0
13,1일 오후 경기도 고양의 어울림누리 빙상장에서 열린 ‘2013-2014 아시아리그 ...,센스 있는 심판!,스포츠,97,10,[],[],0
15,2일 오후 서울 마포구 공덕동 신용보증기금에서 열린 신용보증기금 서근우 신임 이사장...,취임사하는 서근우 신임 이사장,경제,73,0,[],[],0
17,2일 오후 서울 마포구 공덕동 신용보증기금에서 열린 신용보증기금 서근우 신임 이사장...,사기 흔드는 서근우 이사장,경제,73,0,[],[],0
18,2일 오후 서울 마포구 공덕동 신용보증기금에서 열린 신용보증기금 서근우 신임 이사장...,취임사하는 서근우 신임 이사장,경제,73,0,[],[],0
25,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,역투하는 한화 이브랜드,스포츠,81,10,[],[],0
26,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,선취점 얻어내는 LG,스포츠,126,10,[],[],0
27,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,"LG 김기태 감독, '좋았어'",스포츠,127,10,[],[],0
28,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,인사말하는 임지섭,스포츠,97,10,[],[],0
29,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,"LG 이병규, '이긴다!'",스포츠,94,10,[],[],0
30,2일 오후 한국전력이 경남 밀양 765kV 송전탑 공사를 재개한 가운데 강기갑 전 ...,밀양 송전탑 현장 찾아 격려하는 강기갑 전 의원,사회,93,8,[],[],0
31,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,역투하는 LG 임정우,스포츠,80,10,[],[],0
33,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,역투하는 LG 임정우,스포츠,80,10,[],[],0
34,2일 오후 한국전력이 경남 밀양 765kV 송전탑 공사를 재개한 가운데 강기갑 전 ...,밀양 송전탑 반대 주민 격려하는 강기갑 전 의원,사회,92,8,[],[],0
36,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,팬들에게 인사하는 LG 새내기들,스포츠,95,10,[],[],0
37,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,"LG 임정우, '받아라!'",스포츠,80,10,[],[],0
39,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,LG 선발 임정우 역투,스포츠,80,10,[],[],0
43,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,"LG 박용택, '이건 못 잡아'",스포츠,115,10,[],[],0
47,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,"LG 박용택, '2점 추가'",스포츠,101,10,[],[],0
50,2일 송전탑 공사가 재개된 경남 밀양시 단장면 미촌리 송전탑 건설 4공구 현장 인근...,움막 둘러싼 수녀들,사회,81,8,[],[],0
51,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,'잘 부탁드립니다!',스포츠,95,10,[],[],0
52,2일 송전탑 공사가 재개된 경남 밀양시 단장면 미촌리 송전탑 건설 4공구 현장 인근...,대치 상태인 움막 철거 현장,사회,93,8,[],[],0
53,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,관중들에게 인사하는 LG 신인 선수들,스포츠,95,10,[],[],0
54,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,팬들에게 인사하는 LG 신인선수들,스포츠,95,10,[],[],0
55,2일 송전탑 공사가 재개된 경남 밀양시 단장면 미촌리 송전탑 건설 4공구 현장 인근...,3차 움막 철거 행정대집행 대치하는 주민들,사회,93,8,[],[],0
56,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,하이파이브하는 LG 이병규,스포츠,126,10,[],[],0
57,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,"LG 김기태 감독, '좋아!'",스포츠,127,10,[],[],0
59,2일 오후 서울 잠실야구장에서 열린 2013 한국야쿠르트 세븐 프로야구 한화 이글스...,한화 이브랜드 역투,스포츠,81,10,[],[],0
...,...,...,...,...,...,...,...,...
3004604,김장겸 MBC 사장이 1일 오후 서울 영등포구 여의도 63컨벤션센터에서 열린 '방송...,"[종합2보]MBC 김장겸 사장 체포영장 발부···""정권 탄압 노골화"" 반발",사회,77,8,[],[],0
3004605,김판석 인사혁신처장이 1일 오후 서울 마포경찰서에서 열린 퇴직공무원 사회공헌사업 간...,퇴직공무원과 인사나누는 김판석 처장,사회,76,8,[],[],0
3004607,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,교체되는 허프,스포츠,76,10,[],[],0
3004611,"고용노동부 김영주 장관,은탑 산업훈장을 수상한 이수열 두산중공업(주) 기술수석차장이...","이수열 두산중공업(주) 기술수석차장, 은탑산업훈장 수상",사회,101,8,[],[],0
3004612,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,역투 고효준,스포츠,104,10,[],[],0
3004613,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,관중들에게 인사 하는 허프,스포츠,91,10,[],[],0
3004614,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,KIA 투수 고효준 역투,스포츠,104,10,[],[],0
3004616,"고용노동부 김영주 장관과 직업능력개발 유공자, 우수 숙련기술인 및 유관기관 관계자 ...",2017 직업능력의 달 기념식,사회,106,8,[],[],0
3004617,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,고효준 역투,스포츠,104,10,[],[],0
3004618,"고용노동부 김영주 장관, 동탑산업훈장 수상을 수상한 박찬환 (주)다프엘 대표이사가 ...","박찬환 (주)다프엘 대표이사, 동탑산업훈장 수상",사회,100,8,[],[],0
3004621,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,역투하는 LG 신정락,스포츠,82,10,[],[],0
3004622,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,장영석 투런포,스포츠,109,10,[],[],0
3004623,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,"안 맞네, 에반스",스포츠,105,10,[],[],0
3004624,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,홈런 친 넥센 장영석,스포츠,100,10,[],[],0
3004625,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,투런포 날린 넥센 장영석,스포츠,109,10,[],[],0
3004626,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,교체되는 신정락,스포츠,80,10,[],[],0
3004627,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,"신정락, 오늘은 여기까지요",스포츠,93,10,[],[],0
3004628,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,투런포 날린 장영석,스포츠,100,10,[],[],0
3004629,1일 오후 서울 송파구 잠실야구장에서 열린 2017 KBO 리그 LG 트윈스와 넥센...,역투하는 신정락,스포츠,82,10,[],[],0
3004630,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,"에반스, 안 맞네",스포츠,105,10,[],[],0
3004632,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,어디까지?,스포츠,84,10,[],[],0
3004633,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,역투하는 김윤동,스포츠,101,10,[],[],0
3004634,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,김윤동 역투,스포츠,101,10,[],[],0
3004635,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,역투하는 김윤동,스포츠,101,10,[],[],0
3004636,1일 오후 광주 북구 광주-기아챔피언스필드에서 열린 2017프로야구 KIA 타이거즈...,역투 김윤동,스포츠,101,10,[],[],0
3004637,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,좋았어,스포츠,92,10,[],[],0
3004638,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,더 신중하게,스포츠,85,10,[],[],0
3004639,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,멀리 멀리,스포츠,85,10,[],[],0
3004640,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,어느 위치가 좋을까,스포츠,84,10,[],[],0
3004641,1일 경상북도 칠곡군 왜관에 위치한 파미힐스CC에서 열린 2017 DGB금융그룹 대...,포즈취하는 정한밀,스포츠,85,10,[],[],0

In [28]:
df.iloc[1,0]

"2일부터 오는 6일까지 계룡대에서 개최되는 '2013년 계룡 군문화축제, 지상군페스티벌'에서 (사)월드피스자유연합 (대표 안재철)이 6.25전쟁 사진전과 6.25전쟁 당시 대한민국을 지원한 67개국 국기를 전시하고 있다."

In [26]:
df[df.index==1].article

1    2일부터 오는 6일까지 계룡대에서 개최되는 '2013년 계룡 군문화축제, 지상군페스...
Name: article, dtype: object

In [47]:
df.reset_index(level=0, inplace=True)

In [49]:
df.drop(['index'], axis = 1, inplace = True)

In [51]:
df.to_pickle('kbo_parsed.pkl')

In [90]:
df['title']=df['title'].str.replace(r"[^0-9a-zA-Z가-힣,.!?@=<>()\[\]{} ]+", " ")
df['contents']=df['contents'].str.replace(r"[^0-9a-zA-Z가-힣,.!?@=<>()\[\]{} ]+|[0-9a-zA-Z.]+.kr|[0-9a-zA-Z.]+.com|[0-9a-zA-Z.]+@[a-zA-Z.]+|[0-9a-zA-Z.]+@|\([a-z.:/]+\)|마이데일리.|조이뉴스24.|[a-zA-Z,. ]+\.|기사제공 [0-9a-zA-Z가-힣 .]", " ")

In [96]:
df['contents']=df['contents'].str.findall(r"[0-9a-zA-Z가-힣,.!?<>() ]+\. ").apply(lambda x: ' '.join(x))