In [1]:
import pandas as pd
df = pd.read_pickle('yonhap_ready.pkl')

In [2]:
df.head(3)

,article,title,article_len,sec1,sec_idx
0,'회장이 청부폭력' 루머 협박범도 기소…사이버명예훼손 전담수사 첫 사례 ...,"""해경이 가만있으라 방송"" 허위사실 유포 40대 기소",966,사회,4
1,지난 해 9월 북한의 함경북도 항구도시 나진과 러시아 극동지역 도시 ...,南 점검단 방북…나진-하산 프로젝트 시범운송 시작(종합),1539,정치,6
2,포항 도착한 화물선 러시아 시베리아산 유연탄 4만 500t을...,나진-하산 프로젝트 탄력…시범수송 석탄 포항 도착(종합),1827,경제,0

In [3]:
X = df.article
y = df.sec_idx
print(X.shape)
print(y.shape)

(443312,)
(443312,)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(376815,)
(66497,)
(376815,)
(66497,)

In [5]:
%%time
from konlpy.tag import Mecab; m = Mecab()
#pos = lambda d: ['/'.join(p) for p in m.pos(d)]
def noun_tagger(text):
    #return [pos[0] for pos in m.pos(text) if (pos[1] in ['SL','SH','SN']) or pos[1].startswith('NN')]
    return [pos[0] for pos in m.pos(text) if pos[1].startswith('NN')]

CPU times: user 24 ms, sys: 0 ns, total: 24 ms
Wall time: 24.1 ms

### Summary:
    * vect.fit(train) learns the vocabulary of the training data
    * vect.transform(train) uses the fitted vocabulary to build a document term matrix from the training data
    * vect.transform(test) uses the fitted vocabulary to build a document term matrix from the testing data(and ignores tokens it hasn't seen before)

In [6]:
stopwords_news=['지난해', '중','말', '뒤', '곳', '군', '위', '개', '간', '건', '이날', '도', '등', '명', '시', '앞', '원', '분', '회', '년', '것', '씨', '일', '월','오전','오후']

In [7]:
%%time
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(sublinear_tf=True, tokenizer=noun_tagger,stop_words=stopwords_news, ngram_range=(1,3), min_df=5, max_df=.5)
X_train_dtm = vect.fit_transform(X_train)

CPU times: user 24min 5s, sys: 18.9 s, total: 24min 24s
Wall time: 24min 23s

In [8]:
X_test_dtm = vect.transform(X_test)

In [9]:
X_train_dtm.shape

(376815, 2473920)

In [10]:
X_test_dtm.shape

(66497, 2473920)

## save vector & dtm

https://stackoverflow.com/questions/29788047/keep-tfidf-result-for-predicting-new-content-using-scikit-for-python
https://stackoverflow.com/questions/32764991/how-do-i-store-a-tfidfvectorizer-for-future-use-in-scikit-learn

In [11]:
import pickle

with open("yonhap_tfidf_vect.pkl", 'wb') as handle:
    pickle.dump(vect, handle)

with open("yonhap_dtm.pkl", 'wb') as handle:
    pickle.dump(X_test_dtm, handle)

In [16]:
# import and instantiate a Multinomial Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB(alpha=.001)

In [17]:
# train the model using X_train_dtm (timing it with an IPython "magic command")
%time nb.fit(X_train_dtm, y_train)

CPU times: user 3.06 s, sys: 176 ms, total: 3.24 s
Wall time: 3.24 s

MultinomialNB(alpha=0.001, class_prior=None, fit_prior=True)

In [18]:
# make class predictions for X_test_dtm
y_pred_class = nb.predict(X_test_dtm)

In [19]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.86871588191948512

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_class, target_names=['경제', '과학', '국제', '문화', '사회', '생활', '정치']))

             precision    recall  f1-score   support

         경제       0.93      0.90      0.92     16445
         과학       0.47      0.79      0.59       362
         국제       0.85      0.90      0.87     12919
         문화       0.76      0.90      0.82      3605
         사회       0.88      0.83      0.85     17451
         생활       0.50      0.76      0.61      1237
         정치       0.91      0.86      0.88     14478

avg / total       0.88      0.87      0.87     66497

In practice Multinomial NB can be better than Linear SVM in some situations and svm better than NB on other datasets. Apparently t's possible to combine the two approaches to get a very good baseline: projects:nbsvm - Sida I. Wang

You can also try non-linear SVMs but often the quadratic complexity of the SMO algorithm (for instance as implemented in libsvm) makes it not practical on datasets with more than 5000 documents. Instead on prefer to use liblinear than can only train linear SVM on large datasets.

https://www.quora.com/What-are-the-differences-similarities-between-SVM-Naive-Bayes-for-binary-text-classification-wrt-how-they-are-processing-the-features

http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC

In [21]:
from sklearn import svm
#clf = svm.SVC(decision_function_shape='ovo')
clfrSVM=svm.LinearSVC(C=1)

In [22]:
%time clfrSVM.fit(X_train_dtm, y_train)

CPU times: user 1min 28s, sys: 704 ms, total: 1min 29s
Wall time: 1min 29s

LinearSVC(C=1, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [23]:
y_pred_class_svm = clfrSVM.predict(X_test_dtm)

In [24]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class_svm)

0.91334947441237946

In [25]:
print(classification_report(y_test, y_pred_class_svm, target_names=['경제', '과학', '국제', '문화', '사회', '생활', '정치']))

             precision    recall  f1-score   support

         경제       0.95      0.94      0.94     16445
         과학       0.76      0.65      0.70       362
         국제       0.89      0.93      0.91     12919
         문화       0.88      0.88      0.88      3605
         사회       0.90      0.91      0.91     17451
         생활       0.79      0.62      0.70      1237
         정치       0.93      0.91      0.92     14478

avg / total       0.91      0.91      0.91     66497

https://stackoverflow.com/questions/40115043/no-space-left-on-device-error-while-fitting-sklearn-model

In [26]:
import numpy as np
counts = np.bincount(y_pred_class[(y_pred_class!=2) & (y_test==2)])
print(np.argmax(counts))

0

After removing short articles to improve accuracy, the accuracy is still around 91% when I use SVM. The main cause can be found belown example. Below articles shows why so many science news articles are predicted as a economics articles. Those articles looks economics articles. I think this happens because the category have chosen by reporters. So mainly due to data error.

In [27]:
X_test[(y_pred_class==0) & (y_test==2)]

134870           아시아인프라투자은행(AIIB) 개소식에서 연설하는 리커창 중국 총리  ...
237177           15,000 무너진 일본 주가  소비위축에 대외악재 산적…참의원 선거 ...
184399              1년만에 만장일치 결정 "노동시장 호조·물가상승 고려한 조치, 경...
314134           국제유가는 10일(현지시간) 비교적 큰 폭의 오름세를 보였다.     ...
29999            LG디스플레이, 베이징서 '아트슬림 프로모션' 행사 개최      LG...
131833           중국 인민은행       중국 당국의 유동성 투입에도 춘제(春節·음력설...
59946                그리스 재무부가 11일(현지시간) 국제통화기금(IMF) 채무 7...
31614            중국인, 미국 내 외국인 주택 거래 '큰손'으로       지난해 미국...
196063           런던 남동부의 주택가   "세 사는 가구 늘고 임차료도 올라 저축은커녕...
220499           우버 홈페이지 캡처  '모든 것 위한 우버'로 영역확장…'문어발 확장'...
155731            일본의 국가 채무가 사상 최고치를 경신했다.      일본 재무성은 ...
129654           한적한 중국 베이징의 한 백화점       중국의 지난해 재정수입 증가...
406737          스마트폰에 엇갈린 희비…대만은 작년 아이폰7 덕에 GDP 깜짝 성장   ...
46483            지우마 호세프 브라질 대통령       브라질 경제가 원자재 가격 하락...
217240           일본 주식 시장   외국인투자 증가 주요인…25년 연속 세계 최대 채권...
176502           중국 창업의 산실 중관춘［EPA=연합뉴스 자료사진］       중국에서...
94875                세계 최대 원유수입국인 중국이 저장고 포화 때문에 전략비축유(S...
196248                  영국의 유럽연합(EU) 이탈(브렉시트·Brexit) 결정 ...
99105                유럽 주요 증시는 18일(현지시간) 상승세로 출발했다.     ...
132863           중국증시 시세판 지난 20일 중국 베이징의 한 증권사에서 투자자가 컴퓨...
406915          달러 부족으로 현대차 생산 5년간 중단 MMC 중역 재개 방침 밝혀  현...
343255          "한국업체들 반도체·OLED 품질 압도…중국도 의존 불가피"  삼성전자,...
206149           홍콩 증권거래소［연합뉴스 자료사진］  홍콩거래소 대표 "선강퉁 곧 출범...
443258          "韓기업들 중국인 기호와 환경 적응 못해 경쟁력 상실" 주장  사드 보복...
261208           중국 저장성 항저우   홍콩 부동산 거래량 6개월간 39% 급감…25년...
301044           456억달러로 2015년과 비교해 두 배 늘어   중국의 대(對)미국 ...
91051           FT "1월 양적완화 발표로 금융시장 분위기 급반전"       '유로존...
333883          필리핀 마켓 이어 중국계 온라인 쇼핑몰 야미바이 MOU…      한국농...
235461           일본은행 본점 일본 도쿄도 주오구 니혼바시에 있는 의 2013년 2월 ...
74956                세계 각국이 자국 경제 상황에 맞게 기준금리를 조정하거나 동결하...
                                ...
301390            인도의 제조업 경기가 시중에 유통되는 현금의 86%를 차지하던 500...
237176                  태국 국가경제사회개발위원회(NESDB)는 15일 4분기 국...
319665          전경련·日게이단렌, 내년 봄 한국서 공동 일본 취업 세미나   한일 양국...
204165           왕젠린 다롄완다그룹 회장        중국 기업들이 홍콩증시를 떠나는 ...
239894               유럽증시가 주요 20개국(G20) 재무장관 및 중앙은행 총재 회...
356942          7월 신규 일자리 20만9천개…시간당 임금 소폭 상승   미국의 고용 상...
168306         독일 중앙은행인 분데스방크  물가상승률 전망치도 1.1% → 0.2%로 수...
135639           샤프 로고       일본 정부 산하 펀드가 위기에 빠진 일본 전자업체...
5808              일본은행        마리오 드라기 유럽중앙은행(ECB) 총재의 추가...
102943            크리스틴라가르드 IMF 총재   당장 구제금융 제공하겠다는 뜻은 아닌...
208413           英 중앙은행 총재        영국 중앙은행인 영란은행(BOE)이 4일...
18655                   세계 성장 엔진인 중국의 현재 모습이 과거 일본의 '잃어버...
270018           일본 나리타국제공항 입국자 게이트 주변이 각국에서 찾아온 여행객으로 붐...
108574           카를로스 곤 닛산자동차 사장(AP.연합뉴스.자료사진)  아베노믹스가 유...
256087           아베 총리, 도쿄서 동일본대지진 5주기 기자회견(  정부 교부금·피해배...
192958           유로존 인플레 제고 등으로 경제활력 증진 기대   유럽중앙은행(ECB)...
33989            엔블록셀-팡정집단의 투자의향서 체결식        한국의 '스타트업'(...
397405            일본의 장기금리가 3일 한때 0.150%로 1년만에 최고수준을 기록했...
246210           구로다 하루히코 일본은행 총재       유럽중앙은행(ECB)에 이어 ...
262601           아베 총리[AFP.연합뉴스.자료사진]       일본 정부는 13일 경...
19385            19일 인도 라자스탄 주 자이푸르에서 손윤호(오른쪽) HM디지털 대표이...
66881                사우디 아라비아의 대미(對美) 원유 수출이 2009년 금융위기 ...
52618              "성장엔진에서 문제아 전락" 서방언론 지적에 공세나서        ...
35675                영국 중앙은행인 영국은행(BoE)이 4일(현지시간) 정례통화정책...
21323            지난달 28일(현지시간) 미국 뉴욕 유엔본부의 총회장에서 시진핑(왼쪽)...
222295              * 1분기 특기 사항:      - 현금 EBITDA는 1,950...
275135                  중국 국책 연구기관이 이례적으로 국가부채의 위험성을 경고하...
6164             주가 충격에 따른 GDP 영향        윤영숙 기자 = 한국이 전 ...
46448            "중국 정년연장 추진，노령화·연금고갈 대비"     = 중국 정부가 최...
149282           기준금리 0.5% 유지…"주택 시장 둔화·수출 부진"   캐나다 중앙은...
Name: article, Length: 563, dtype: object

In [28]:
df[df.index==247480]

,article,title,article_len,sec1,sec_idx
247480,인공지능 '알파고'가 이세돌 9단에 3연승하자 중국 일부 ...,"<세기의 대국> 중 누리꾼, 중국판 알파고 '마이고'에 기대감",648,국제,2

In [29]:
with open("yonhap_svm_clf.pkl", 'wb') as handle:
    pickle.dump(clfrSVM, handle)

In [30]:
with open("yonhap_nb_clf.pkl", 'wb') as handle:
    pickle.dump(nb, handle)